body{
    -webkit-perspective:0px;
    -webkit-perspective-origin:50% 50%;
    background:rgba(221,221,221,1);
}
.page{
    position:absolute;
    top:0;
    bottom:0;
    min-height:100%;
    width:100%;
    background:rgba(255,255,255,0.36);
    transform:rotate3d(0,1,0,-90deg);
    -webkit-transform-style:preserve-3d;
    transition:all 850ms ease-in 0s;
    opacity:0;
    display:block;
    border:1px solid rgba(255,255,255,0.66);
}
.page.active{
    transform:rotate3d(0,1,0,0deg);
    transition:all 850ms ease-in 850ms;
    opacity:1;
}
.header-wrapper{
    position:relative;
    background:rgba(0,170,204,1);
    border-bottom:1px solid rgba(0,0,0,1);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.28);
    z-index:2;
}
.header-wrapper .col{
    margin-bottom:0;
}
.header-logo h1{
    margin:0;
    padding:0;
    text-align: center;
}
.header-logo h1 a{
    color:rgba(255,255,255,1);
    text-decoration: none;
}
.header-logo h1 a:hover{
    color:rgba(0,0,0,1);
    text-decoration: none;
}
.navigation-wrapper{
    background:rgba(119,119,119,1);
}
.navigation-wrapper .row{
    margin:0 -1.075269%;
}
.navigation-wrapper .row>.col{
    margin:0;
    width:100%;
}
.navigation-wrapper nav.main-navigation>ul{
    list-style: none;
    margin:0;
    padding:0;
}
.navigation-wrapper nav.main-navigation>ul>li{
    float:left;
    width:25%;
    border-right:1px solid rgba(0,0,0,0.86);
    border-left:1px solid rgba(170,170,170,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li>a{
    display:block;
    padding:6px 12px;
    text-decoration: none;
    font-weight:500;
    text-align: center;
    color:rgba(0,0,0,0.86);
}
.navigation-wrapper nav.main-navigation>ul>li>a>i{
    display:block;
    font-size:1.6em;
}
.navigation-wrapper nav.main-navigation>ul>li.active{
    background:rgba(0,0,0,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li.active>a{
    color:rgba(221,211,211,0.86);
}
.navigation-wrapper nav.main-navigation>ul>li:hover{
    background:rgba(0,0,0,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li:hover>a{
    color:rgba(221,211,211,0.86);
}
.main-wrapper blockquote{
    border-left:6px solid rgba(0,170,204,1);
    background:rgba(119,119,119,0.08);
    margin:0;
    padding:2.150538%;
}