/*
COLORS
1. #F53357 (pink)
2. #47384D (purple)
3. #3F585F (darkgreen)
4. #218777 (green)
5. #65A683 (lightgreen)
6. #F27405 (orange)
6. #FAFAFA (wit)

/*
Html, body
*/
html, body{
    height:100%;
    width:100%;
    overflow: visible;
    overflow-x: hidden;
}
body{
    background:rgba(210,210,210,1);
}
/*
Header
*/
.header .col{
    margin-bottom:0;
}
.header .col:first-of-type{
    position:relative;
    top:6px;
}
.header-logo h1{
    margin:0;
    padding:0;
    text-align: center;
}
.header-logo h1 a{
    color:rgba(255,255,255,1);
    text-decoration: none;
    color:#FAFAFA;
}
.header-logo h1 a:hover,
.header-logo h1 a:focus{
    color:#47384D;
}
/*
All Geo Lists
*/
.distance{
    display:block;
}
.distance .fa{
    color:#F53357;
    margin-right:6px;
}

/*
Google Maps
*/
#gmap-canvas-wrapper{
    background:#F53357;
    padding:2px;
}
#gmap-canvas{
    height:360px;
}

/*
Navigation
*/
#home-navigation ul{
    margin:2.150538% 0 0;
    padding:0;
    list-style:none;
}
#home-navigation ul>li{
    border:2px solid #F53357;
}
#home-navigation ul>li>a{
    text-align:center;
    display:block;
    color:#F53357;
    text-decoration: none;
    padding:12px;
    font-size:14px;
}
#home-navigation ul>li>a>i{
    display:block;
    font-size:32px;
}
#home-navigation ul>li>a:hover,
#home-navigation ul>li>a:focus{
    color:#47384D;
    background:#F53357;
}
.navigation-wrapper{
    background:rgba(119,119,119,1);
}
.navigation-wrapper .row{
    margin:0 -1.075269%;
}
.navigation-wrapper .row>.col{
    margin:0;
    width:100%;
}
.navigation-wrapper nav.main-navigation>ul{
    list-style: none;
    margin:0;
    padding:0;
}
.navigation-wrapper nav.main-navigation>ul>li{
    float:left;
    width:33.33333%;
    border-right:1px solid rgba(0,0,0,0.86);
    border-left:1px solid rgba(170,170,170,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li>a{
    display:block;
    padding:6px 12px;
    text-decoration: none;
    font-weight:500;
    text-align: center;
    color:rgba(0,0,0,0.86);
}
.navigation-wrapper nav.main-navigation>ul>li>a>i{
    display:block;
    font-size:1.6em;
}
.navigation-wrapper nav.main-navigation>ul>li.active{
    background:rgba(0,0,0,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li.active>a{
    color:rgba(221,211,211,0.86);
}
.navigation-wrapper nav.main-navigation>ul>li:hover{
    background:rgba(0,0,0,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li:hover>a{
    color:rgba(221,211,211,0.86);
}
/*
Main
*/
.main-wrapper blockquote{
    border-left:6px solid rgba(0,170,204,1);
    background:rgba(119,119,119,0.08);
    margin:0;
    padding:2.150538%;
}