/*
Html, body
*/
html, body{
    height:100%;
}
body{
    background:rgba(221,221,221,0.66);
}
/*
Page
*/
.page{
    position:absolute;
    overflow: visible;
    overflow-x: hidden;
    top:0;
    left:-120%;
    width:100%;
    display:block;
    transition:all 400ms ease-in 0s;
    opacity:0;
}
.page.active{
    transition:all 400ms ease-in 100ms;
    left:0;
    opacity:1;
}

/*
Buttons
*/
.btn{
    background:rgba(221,221,221,0.16);
    color:#fff;
    padding:6px 12px;
    border-radius:6px;
    box-shadow:inset 0 1px 2px 0 rgba(255,255,255,0.46);
    border:1px solid rgba(0,170,204,1);
    text-decoration: none;
    font-size:18px;
    display:inline-block;
}
.btn>i{
    margin-right:12px;
}
.btn:hover,
.btn:focus{
    background:rgba(0,170,204,0.86);
}
.btn:active{
    background:rgba(0,170,204,1);
}
.btn-default{

}
.btn-primary{
    background:rgba(0,170,204,0.86);
}
.btn-large{
    width:100%;
}

/*
Header
*/
.header-wrapper{
    position:relative;
    background:rgba(0,170,204,1);
    border-bottom:1px solid rgba(0,0,0,1);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.28);
    z-index:2;
}
.header-wrapper .col{
    margin-bottom:0;
}
.header-logo h1{
    margin:0;
    padding:0;
    text-align: center;
}
.header-logo h1 a{
    color:rgba(255,255,255,1);
    text-decoration: none;
}
.header-logo h1 a:hover{
    color:rgba(0,0,0,1);
    text-decoration: none;
}
/*
Navigation
*/
.navigation-wrapper{
    background:rgba(119,119,119,1);
}
.navigation-wrapper .row{
    margin:0 -1.075269%;
}
.navigation-wrapper .row>.col{
    margin:0;
    width:100%;
}
.navigation-wrapper nav.main-navigation>ul{
    list-style: none;
    margin:0;
    padding:0;
}
.navigation-wrapper nav.main-navigation>ul>li{
    float:left;
    width:25%;
    border-right:1px solid rgba(0,0,0,0.86);
    border-left:1px solid rgba(170,170,170,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li>a{
    display:block;
    padding:6px 12px;
    text-decoration: none;
    font-weight:500;
    text-align: center;
    color:rgba(0,0,0,0.86);
}
.navigation-wrapper nav.main-navigation>ul>li>a>i{
    display:block;
    font-size:1.6em;
}
.navigation-wrapper nav.main-navigation>ul>li.active{
    background:rgba(0,0,0,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li.active>a{
    color:rgba(221,211,211,0.86);
}
.navigation-wrapper nav.main-navigation>ul>li:hover{
    background:rgba(0,0,0,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li:hover>a{
    color:rgba(221,211,211,0.86);
}
/*
Main
*/
.main-wrapper blockquote{
    border-left:6px solid rgba(0,170,204,1);
    background:rgba(119,119,119,0.08);
    margin:0;
    padding:2.150538%;
}

/*
Form
*/
form .row .col{
    margin-top:3px;
    margin-bottom:6px;
}
input{
    padding:8px 12px;
}

/*
Contact
*/
.contact{
    background:rgba(255,255,255,0.46);
    margin-bottom:12px;
    padding:6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contact:hover,
.contact:focus{
    cursor:hand;
    cursor:pointer;
}
.name{
    position:relative;
    font-size:22px;
    top:-2px;
}
.avatar{
    background:rgba(204,0,119,0.46);
    margin-right:12px;
}
.avatar.fa{
    font-size:32px;
    padding:4px;
}
/*
Contact details
*/
.contact-details-personal{
    margin-top:21.440px;
}
.contact-details-personal .avatar{
    background:rgba(204,0,119,0.46);
    margin-right:12px;
}
.contact-details-personal .avatar.fa{
    font-size:128px;
    padding:4px;
}
.contact-details-personal .info{
    display:inline-block;
}