<!DOCTYPE html>
<!--[if lt IE 7]><html dir="ltr" lang="nl-be" class="no-js lt-ie7"><![endif]-->
<!--[if lt IE 8]><html dir="ltr" lang="nl-be" class="no-js lt-ie8"><![endif]-->
<!--[if lt IE 9]><html dir="ltr" lang="nl-be" class="no-js lt-ie9"><![endif]-->
<!--[if lt IE 10]><html dir="ltr" lang="nl-be" class="no-js lt-ie10"><![endif]-->
<!--if(gt IE 9)|!(IE)><!--><html dir="ltr" lang="nl-be" class="no-js" prefix="og: http://og.me/ns#"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <title>Naam of titel van uw webpagina of artikel | Subdomein | Hoofddomein (max 80 karakters)</title>
    <meta name="description" content="Omschrijving van de webpagina, max 250 karakters (20-tal woorden)">
    <meta name="keywords" content="Kernwoorden voor de webpagina, max 8 kernwoorden.">
    <meta name="author" content="Arteveldehogeschool | GDM | MMP">
    <meta name="copyright" content="Copyright 2003-14 Arteveldehogeschool. Alle rechten voorbehouden.">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="content/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="content/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="content/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="content/icons/apple-touch-icon-57-precomposed.png">
    <link href="content/icons/favicon.ico" rel="icon" type="image/x-icon">
    <link href="content/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/helpers.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/app.css">
    <script src="components/modernizr/modernizr.custom.js"></script>
</head>
<body>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <!-- HBS 1 -->
                <section id="hbs1" class="col col-xxs-12"></section>
                <!-- HBS 2 -->
                <section id="hbs2" class="col col-xxs-12"></section>
                <!-- HBS 3 -->
                <section id="hbs3" class="col col-xxs-12"></section>
            </div>
        </div>
    </div>

    <!-- Handlebars Template -->
    <script id="pet-template" type="text/x-handlebars-template">
        <section class="cat">
            <h1>{{name}}</h1>
            <ul>
                <li><i class="fa fa-birthday-cake"></i>{{weight}}</li>
                <li><i class="fa fa-pencil"></i>{{color}}</li>
            </ul>
        </section>
    </script>

    <script id="blog-template" type="text/x-handlebars-template">
        {{#each posts}}
                <article class="post" data-id="{{id}}" data-created="{{created}}">
                    <h1>{{title}}</h1>
                    <section class="synopsis">
                        {{synopsis}}
                    </section>
                    <section class="story">
                        {{{story}}}
                    </section>
                </article>
        {{/each}}
    </script>

    <script id="contacts-template" type="text/x-handlebars-template">
        {{#each lists}}
                <article class="contacts-list">
                    <h1>{{name}}</h1>
                    {{#if contacts}}
                        <ul>
                        {{#each contacts}}
                            <li data-id="{{id}}">
                                {{{faGender isFemale}}}
                                <!--{{this.firstName}}&nbsp;{{this.lastName}}-->
                                {{fullName this}}
                            </li>
                        {{/each}}
                        </ul>
                    {{else}}
                        <p>Geen contacten in deze lijst: {{name}}!</p>
                    {{/if}}
                </article>
        {{/each}}
    </script>

    <script src="components/lodash/lodash.js"></script>
    <script src="components/handlebars/handlebars-v2.0.0.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>