.example{
    padding:12px;
}
.box{
    width:180px;
    height:68px;
    line-height:68px;
    font-weight:800;
    text-align:center;
    background:hsla(135,50%,50%,1);
    -webkit-transition:all 680ms ease-in-out 0s;
}
#example1:hover .box{
    /*-webkit-transform:rotateX(360deg);*/
    /*-webkit-transform:rotateY(360deg);*/
    /*-webkit-transform:rotateZ(360deg);*/
    -webkit-transform:rotate3d(1,0,1,90deg);
}
#example2{
    -webkit-perspective:380px;
}
#example2:hover .box{
    /*-webkit-transform:translateX(100px);*/
    /*-webkit-transform:translateY(0);*/
    /*-webkit-transform:translateZ(-300px);*/
    -webkit-transform:translate3d(100px,0,-300px);
}
#example3{
    -webkit-perspective:1000px;
    -webkit-perspective-origin:50% 50%;
    height:248px;
    background:rgba(11,11,11,0.92);
}
.cube{
    position:relative;
    width:180px;
    height:180px;
    margin:34px auto;
    -webkit-transform-style:preserve-3d;
    -webkit-transition:-webkit-transform 1468ms linear 0s;
}
#example3:hover .cube{
    -webkit-transform:rotate3d(1,1,0,60deg);
}
.cubeanimation{
    -webkit-animation:SpinningCube2 6s infinite linear;
}
@-webkit-keyframes SpinningCube{
    from{
        -webkit-transform:rotate3d(1,1,0,0deg);
    }
    to{
        -webkit-transform:rotate3d(1,1,0,360deg);
    }
}
@-webkit-keyframes SpinningCube2{
    0%{
        -webkit-transform:rotate3d(1,1,0,0deg) scale3d(1,1,1);
    }
    50%{
        -webkit-transform:rotate3d(1,1,0,180deg) scale3d(6,6,6);
    }
    100%{
        -webkit-transform:rotate3d(1,1,0,360deg) scale3d(1,1,1);
    }
}
.cube>div{
    position:absolute;
    width:180px;
    height:180px;
    background:rgba(0,170,204,0.62);
    line-height:180px;
    text-align:center;
    font-weight:800;
}
.cube>div:nth-of-type(1){
    background:rgba(0,170,204,0.62);
    -webkit-transform:translateZ(90px);
}
.cube>div:nth-of-type(2){
    background:rgba(204,0,119,0.62);
    -webkit-transform:rotateY(90deg) translateZ(90px);
}
.cube>div:nth-of-type(3){
    background:rgba(187,204,0,0.62);
    -webkit-transform:rotateY(180deg) translateZ(90px);
}
.cube>div:nth-of-type(4){
    background:rgba(238,153,0,0.62);
    -webkit-transform:rotateY(-90deg) translateZ(90px);
}
.cube>div:nth-of-type(5){
    background:rgba(211,211,211,0.62);
    -webkit-transform:rotateX(90deg) translateZ(90px);
}
.cube>div:nth-of-type(6){
    background:rgba(170,170,170,0.62);
    -webkit-transform:rotateX(-90deg) translateZ(90px);
}
.cube>div:nth-of-type(7){
    background:url('images/m2.gif') no-repeat top center;
    background-size: contain;
}