.example{
    background:rgba(33,33,33,1);
    min-height:286px;
    overflow:hidden;
    position:relative;
    margin-bottom:48px;
}
.box{
    position:absolute;
    top:0;
    left:0;
    background:rgba(221,211,211,0.86);
    height:10%;
    width:25%;
    line-height:80px;
    text-align: center;
}
.example .box:nth-of-type(1){
    background:rgba(0,170,204,0.86);
}
.example .box:nth-of-type(2){
    background:rgba(204,0,119,0.86);
}
.example .box:nth-of-type(3){
    background:rgba(187,204,0,0.86);
}
.example .box:nth-of-type(4){
    background:rgba(238,153,0,0.86);
}
.example .box:nth-of-type(5){
    background:rgba(211,211,211,0.86);
}

/* EXAMPLE1: Animation */
#example1 .box:nth-of-type(1){
    -webkit-animation-duration: 3s;
    -webkit-animation-name:slidein;
    -webkit-animation-delay:0s;
    -webkit-animation-direction:normal;/*normal, reverse, alternate, alternate-reverse, (normal, reverse, alternate)*/
    -webkit-animation-iteration-count:1;/*1, 2.3, infinite, (3, 0.5, infinite)*/
    -webkit-animation-play-state:running;/*paused, running, (running, paused)*/
    -webkit-animation-timing-function:ease;
}
@-webkit-keyframes slidein{
    from{
        left:-100%;
    }

    to{
        left:0;
    }
}
/* EXAMPLE2: Animation */
#example2 .box:nth-of-type(1){
    -webkit-animation-duration: 3s;
    -webkit-animation-name:snakerun;
    -webkit-animation-delay:0s;
    -webkit-animation-direction:alternate;/*normal, reverse, alternate, alternate-reverse, (normal, reverse, alternate)*/
    -webkit-animation-iteration-count:infinite;/*1, 2.3, infinite, (3, 0.5, infinite)*/
    -webkit-animation-play-state:running;/*paused, running, (running, paused)*/
    -webkit-animation-timing-function:ease;
}
@-webkit-keyframes snakerun{
    from{
        left:0;
        top:0;
    }
    25%{
        left:75%;
        top:0;
    }
    50%{
        top:90%;
        left:75%;
    }
    75%{
        left:0;
        top:90%;
    }
    100%{
        top:0;
        left:0;
    }
}
/* EXAMPLE3: PONG */
#example3 .box{
    width:6%;
    height:30%;
    background:url('../images/ike.png') no-repeat;
    background-size:cover;
    text-indent: -999em;
}
#example3 .box:nth-of-type(1){
    -webkit-animation-duration: 3s;
    -webkit-animation-name:pong;
    -webkit-animation-delay:0s;
    -webkit-animation-direction:normal;/*normal, reverse, alternate, alternate-reverse, (normal, reverse, alternate)*/
    -webkit-animation-iteration-count:infinite;/*1, 2.3, infinite, (3, 0.5, infinite)*/
    -webkit-animation-play-state:running;/*paused, running, (running, paused)*/
    -webkit-animation-timing-function:ease;
}
@-webkit-keyframes pong{
    from{
        left:0;
        top:35%;
        transform:rotate(0deg);
    }
    25%{
        left:47%;
        top:75%;
        transform:rotate(360deg);
    }
    50%{
        left:94%;
        top:35%;
        transform:rotate(360deg);
    }
    75%{
        left:47%;
        top:0;
        transform:rotate(-360deg);
    }
    100%{
        top:35%;
        left:0;
        transform:rotate(-360deg);
    }
}
/* EXAMPLE4: SPEAKER */
#example4 .speaker{
    width:64px;
    height:64px;
    background:url('../images/speaker3.png') no-repeat;
    background-size:cover;
    text-indent: -999em;
}
#example4 .speaker:nth-of-type(1){
    -webkit-animation-duration: 840ms;
    -webkit-animation-name:speaker;
    -webkit-animation-delay:0s;
    -webkit-animation-direction:normal;/*normal, reverse, alternate, alternate-reverse, (normal, reverse, alternate)*/
    -webkit-animation-iteration-count:infinite;/*1, 2.3, infinite, (3, 0.5, infinite)*/
    -webkit-animation-play-state:running;/*paused, running, (running, paused)*/
    -webkit-animation-timing-function:ease;
}
@-webkit-keyframes speaker{
    0% {transform:scale(20);}
    5% {transform:scale(18);}
    10% {transform:scale(14);}
    15% {transform:scale(8);}
    20% {transform:scale(4);}
    25% {transform:scale(2);}
    30% {transform:scale(14);}
    35% {transform:scale(18);}
    40% {transform:scale(20);}
    45% {transform:scale(32);}
    50% {transform:scale(24);}
    55% {transform:scale(28);}
    60% {transform:scale(32);}
    65% {transform:scale(8);}
    70% {transform:scale(2);}
    75% {transform:scale(1);}
    80% {transform:scale(3);}
    85% {transform:scale(4);}
    90% {transform:scale(16);}
    95% {transform:scale(32);}
    100% {transform:scale(20);}
}