/*
Html, body
*/
html, body{
    height:100%;
}
body{
    background:rgba(221,221,221,0.66);
}
/*
Page
*/
.page{
    position:absolute;
    overflow: visible;
    overflow-x: hidden;
    top:0;
    left:-120%;
    width:100%;
    display:block;
    transition:all 400ms ease-in 0s;
    opacity:0;
}
.page.active{
    transition:all 400ms ease-in 100ms;
    left:0;
    opacity:1;
}

/*
Buttons
*/
.btn{
    background:rgba(221,221,221,0.16);
    color:#fff;
    padding:6px 12px;
    border-radius:6px;
    box-shadow:inset 0 1px 2px 0 rgba(255,255,255,0.46);
    border:1px solid rgba(0,170,204,1);
    text-decoration: none;
    font-size:18px;
    display:inline-block;
}
.btn>i{
    margin-right:12px;
}
.btn:hover,
.btn:focus{
    background:rgba(0,170,204,0.86);
}
.btn:active{
    background:rgba(0,170,204,1);
}
.btn-default{

}
.btn-primary{
    background:rgba(0,170,204,0.86);
}

/*
Header
*/
.header-wrapper{
    position:relative;
    background:rgba(0,170,204,1);
    border-bottom:1px solid rgba(0,0,0,1);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.28);
    z-index:2;
}
.header-wrapper .col{
    margin-bottom:0;
}
.header-logo h1{
    margin:0;
    padding:0;
    text-align: center;
}
.header-logo h1 a{
    color:rgba(255,255,255,1);
    text-decoration: none;
}
.header-logo h1 a:hover{
    color:rgba(0,0,0,1);
    text-decoration: none;
}
/*
Navigation
*/
.navigation-wrapper{
    background:rgba(119,119,119,1);
}
.navigation-wrapper .row{
    margin:0 -1.075269%;
}
.navigation-wrapper .row>.col{
    margin:0;
    width:100%;
}
.navigation-wrapper nav.main-navigation>ul{
    list-style: none;
    margin:0;
    padding:0;
}
.navigation-wrapper nav.main-navigation>ul>li{
    float:left;
    width:33.33333%;
    border-right:1px solid rgba(0,0,0,0.86);
    border-left:1px solid rgba(170,170,170,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li>a{
    display:block;
    padding:6px 12px;
    text-decoration: none;
    font-weight:500;
    text-align: center;
    color:rgba(0,0,0,0.86);
}
.navigation-wrapper nav.main-navigation>ul>li>a>i{
    display:block;
    font-size:1.6em;
}
.navigation-wrapper nav.main-navigation>ul>li.active{
    background:rgba(0,0,0,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li.active>a{
    color:rgba(221,211,211,0.86);
}
.navigation-wrapper nav.main-navigation>ul>li:hover{
    background:rgba(0,0,0,0.48);
}
.navigation-wrapper nav.main-navigation>ul>li:hover>a{
    color:rgba(221,211,211,0.86);
}
/*
Main
*/
.main-wrapper blockquote{
    border-left:6px solid rgba(0,170,204,1);
    background:rgba(119,119,119,0.08);
    margin:0;
    padding:2.150538%;
}

/*
User List
*/
.users-list ul{
    list-style: none;
    margin:0;
    padding:0;
}
.users-list .user{
    position:relative;
    background:rgba(255,255,255,0.66);
    border-bottom:2px solid rgba(117,117,117,0.16);
    padding:12px;
}
.users-list .user .user-picture{
    width:48px;
    height:48px;
    border-radius:100%;
    overflow:hidden;
    display:block;
    float:left;
    margin-right:12px;
}
.users-list .user .user-picture img,
.users-list .user .user-picture source{
    width:100%;
}
.users-list .user .user-name{
    font-size:20px;
    font-weight:600;
    line-height:48px;
}
.users-list .user .user-details-link{
    font-size:20px;
    font-weight:600;
    line-height:48px;
    color:rgba(0,170,204,1);
    position:absolute;
    right:12px;
    top:12px;
}
.users-list .user .user-details-link:hover,
.users-list .user .user-details-link:focus{
    color:rgba(33,33,33,1);
}
/*
User Details
*/
.user-details{
    position:relative;
    background:rgba(255,255,255,0.66);
    border-radius:12px;
    padding:24px 12px 12px;
    color:rgba(117,117,117,1);
    margin-top:24px;
}
.user-details .seperator{
    position:absolute;
    height:99px;
    width:100%;
    top:0;
    left:0;
    background:rgba(0,170,204,1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.user-details .add-user-to-favos{
    position:absolute;
    right:12px;
    top:12px;
    color:#fff;
    font-size:2em;
    font-weight:600;
}
.user-details .user-name-label{
    text-align:center;
}
.user-details .user-name{
    text-align:center;
    font-weight:600;
    font-size:1.4em;
    color:rgba(33,33,33,1);
}
.user-details .user-picture{
    box-sizing: border-box;
    position:relative;
    width:150px;
    height:150px;
    border-radius:100%;
    overflow:hidden;
    display:block;
    margin:auto;
}
.user-details .user-picture img{
    position:absolute;
    width:150px;
    height:150px;
    z-index:1;
    top:0;
    left:0;
    display:block;
}
.user-details .user-picture::before{
    content:' ';
    position:absolute;
    width:126px;
    height:126px;
    border-radius:100%;
    overflow:hidden;
    display:block;
    border:12px solid rgba(255,255,255,1);
    z-index:2;
    top:0px;
    left:0px;
}
.user-details .user-info{
    font-size:1.2em;
}
.user-details .user-info ul{
    list-style:none;
    margin:0;
    padding:0;
}
.user-details .user-info ul>li{
    border-bottom:2px solid rgba(117,117,117,0.16);
    padding:12px;
    color:rgba(33,33,33,1);
}
.user-details .user-info ul>li:last-of-type{
    border-bottom:none;
}
.user-details .user-info ul>li>i.fa{
    position:relative;
    display:inline-block;
    width:32px;
    text-align:center;
    margin-right:12px;
    color:rgba(117,117,117,1);
}
