/*background:rgba(0,170,204,0.86);
background:rgba(204,0,119,0.86);
background:rgba(187,204,0,0.86);
background:rgba(238,153,0,0.86);
background:rgba(211,211,211,0.86);*/

.example{
    padding:12px;
}

/*
Voorbeeld 1
*/
#example1 ul{
    list-style: none;
    margin:0;
    padding:0;
}
#example1 a{
    padding-left: 22px;
}
#example1 a[href$=".pdf"]{
    background:url('images/pdf.png') no-repeat center left;
}
#example1 a[href$=".docx"]{
    background:url('images/word.png') no-repeat center left;
}
#example1 a[href$=".xlsx"]{
    background:url('images/excel.png') no-repeat center left;
}
#example1 a[href$=".mp3"]{
    background:url('images/audio.png') no-repeat center left;
}

/*
Voorbeeld 2
*/
#example2 ul{
    list-style: none;
    margin:0;
    padding:0;
}
#example2 a{
    padding-left: 22px;
}
#example2 a[href^="http"]{
    background:url('images/website.png') no-repeat center left;
}
#example2 a[href^="https"]{
    background:url('images/securewebsite.png') no-repeat center left;
}
#example2 a[href^="ftp"]{
    background:url('images/ftp.png') no-repeat center left;
}
#example2 a[href^="mailto"]{
    background:url('images/email.png') no-repeat center left;
}

/*
Voorbeeld 3
*/
#example3 ul{
    list-style: none;
    margin:0;
    padding:0;
}
#example3 a{
    padding-left: 22px;
}
#example3 a[href*="google"]{
    background:url('images/google.png') no-repeat center left;
}
#example3 a[href*="twitter"]{
    background:url('images/twitter.png') no-repeat center left;
}
#example3 a[href*="facebook"]{
    background:url('images/facebook.png') no-repeat center left;
}
#example3 a[href*="yahoo"]{
    background:url('images/yahoo.png') no-repeat center left;
}