@import url(http://fonts.googleapis.com/css?family=Orbitron:400,900,700,500);

html{
    background:rgba(0,0,0,1);
}
.digitalclock{
    position:absolute;
    top:300px;
    left:300px;
}
.digitalclock>.digit{
    background:rgba(221,221,221,1);
    color:rgba(0,0,0,1);
    font-family: "Courier New", Courier, monospace;
    font-size:6em;
    font-weight:500;
    text-align: center;
    padding:0.4em;
    line-height:1em;
    float:left;
    margin:0 0.06em;
}