#unicode-list>div{
    background: #c0c0c0; /* Old browsers */
    background: -moz-linear-gradient(top,  #c0c0c0 0%, #d6d6d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c0c0), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c0c0c0 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c0c0c0 0%,#d6d6d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c0c0c0 0%,#d6d6d6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c0c0c0 0%,#d6d6d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
    text-align:center;
    font-weight:800;
    font-size:1.6em;
    color:rgba(0,0,0,0.86);
    float:left;
    margin:0 1.075269% 2.150538%;
    padding:1.075269%;
    position:relative;
    display:block;
    -webkit-transition:all 650ms ease-in-out 0s;
    -moz-transition:all 650ms ease-in-out 0s;
    -o-transition:all 650ms ease-in-out 0s;
    -ms-transition:all 650ms ease-in-out 0s;
    transition:all 650ms ease-in-out 0s;
    z-index:0;
}
#unicode-list>div>span{
    display:block;
    font-size:0.6em;
    font-weight:600;
    color:rgba(0,0,0,0.66);
}
#unicode-list>div:hover{
    -webkit-transform:scale(2);
    -moz-transform:scale(2);
    -o-transform:scale(2);
    -ms-transform:scale(2);
    transform:scale(2);
    z-index:999;
}