.example{
    padding:12px;
}
#example1 *[contenteditable="true"]:focus{
    box-shadow:0 0 12px 0 rgba(204,0,119,0.86);
    outline:0;
}
#example1 table{
    width:100%;
    border-collapse: collapse;
    margin-bottom:24px;
}
#example1 table>thead th,
#example1 table>tbody td
{
    width:50%;
    padding:6px 12px;
    border:1px solid rgba(33,33,33,0.86);
}
#example1 table>thead>tr
{
    background:rgba(0,170,204,0.86);
}
#example1 table>tbody>tr
{
    background:#c0c0c0;
}
#example1 table>tbody>tr:nth-of-type(even)
{
    background:#a0a0a0;
}
#example1 style{
    display:block;
    background:rgba(0,170,204,0.86);
    color:#333;
    font:monospace;
    height:268px;
    border:1px dotted rgba(33,33,33,0.86);
}

/*
Dropzone
*/
.dropzone{
    height:248px;
    background:rgba(33,33,33,0.86);
    border:1px dotted rgba(187,204,0,0.86);
    margin-bottom:24px;
}
.dropzone.dragenter{
    background:rgba(238,153,0,0.86);
    border-color:rgba(33,33,33,0.86);
    -webkit-transition:all 666ms ease-out 0s;
}
.dropzone.dragdrop{
    background:rgba(33,33,33,0.86);
    border-color:rgba(187,204,0,0.86);
    -webkit-transition:all 666ms ease-out 0s;
}