/*background:rgba(0,170,204,0.86);
background:rgba(204,0,119,0.86);
background:rgba(187,204,0,0.86);
background:rgba(238,153,0,0.86);
background:rgba(211,211,211,0.86);*/

body{
    background:rgba(221,221,221,1);
}
#header-wrapper{
    position:relative;
    background:rgba(0,170,204,1);
    border-bottom:1px solid rgba(0,0,0,1);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.28);
    z-index:2;
}
#header-wrapper .col{
    margin-bottom:0;
}
#header-logo h1{
    margin:0;
    padding:0;
    text-align: center;
}
#header-logo h1 a{
    color:rgba(255,255,255,1);
    text-decoration: none;
}
#header-logo h1 a:hover{
    color:rgba(0,0,0,1);
    text-decoration: none;
}
#navigation-wrapper{
    background:rgba(119,119,119,1);
}
#navigation-wrapper .row{
    margin:0 -1.075269%;
}
#navigation-wrapper .row>.col{
    margin:0;
    width:100%;
}
#navigation-wrapper nav#main-navigation>ul{
    list-style: none;
    margin:0;
    padding:0;
}
#navigation-wrapper nav#main-navigation>ul>li{
    float:left;
    width:25%;
    border-right:1px solid rgba(0,0,0,0.86);
    border-left:1px solid rgba(170,170,170,0.48);
}
#navigation-wrapper nav#main-navigation>ul>li>a{
    display:block;
    padding:6px 12px;
    text-decoration: none;
    font-weight:500;
    text-align: center;
    color:rgba(0,0,0,0.86);
}
#navigation-wrapper nav#main-navigation>ul>li>a>i{
    display:block;
    font-size:1.6em;
}
#navigation-wrapper nav#main-navigation>ul>li.active{
    background:rgba(0,0,0,0.48);
}
#navigation-wrapper nav#main-navigation>ul>li.active>a{
    color:rgba(221,211,211,0.86);
}
#navigation-wrapper nav#main-navigation>ul>li:hover{
    background:rgba(0,0,0,0.48);
}
#navigation-wrapper nav#main-navigation>ul>li:hover>a{
    color:rgba(221,211,211,0.86);
}
/*
Buttons
*/
.btn{
    background:rgba(0,170,204,0.66);
    color:#fff;
    padding:6px 12px;
    border-radius:6px;
    box-shadow:inset 0 1px 2px 0 rgba(255,255,255,0.46);
    border:1px solid rgba(0,170,204,1);
}
.btn>i{
    margin-right:12px;
}
.btn:hover{
    background:rgba(0,170,204,0.86);
}
.btn:focus{
    outline:0;
}
.btn:active{
    background:rgba(0,170,204,1);
}
/*
Create Tweet
*/
#newtweet-navigation-wrapper{
    background:rgba(255,255,255,0.68);
    border-bottom:1px solid rgba(119,119,119,0.86);
    margin-bottom:2.150538%;
}
#newtweet-wrapper{
    margin-bottom:1.075269%;
}
#lblTweet{
    position:relative;
    display:block;
    height:42px;
    line-height:42px;
    padding-left:12px;
    border-left:1px solid rgba(119,119,119,0.86);
    border-right:1px solid rgba(119,119,119,0.86);
}
#lblTweet>i{
    position:absolute;
    display:block;
    height:42px;
    line-height:42px;
    width:42px;
    border-left:1px solid rgba(119,119,119,0.86);
    text-align:center;
    right:0;
    top:0;
}
#newtweet-navigation-wrapper .row:nth-of-type(1){
    margin:0 -1.075269%;
}
#newtweet-navigation-wrapper .row:nth-of-type(1)>.col{
    margin:0;
    width:100%;
}
#newtweet-wrapper{
    position:relative;
    height:0;
    max-height:0;
    overflow:hidden;
    opacity:0;
    -webkit-transition:all 660ms ease-in 0s;
    transition:all 660ms ease-in 0s;
}
#newtweet-wrapper.open{
    height:auto;
    max-height:none;
    overflow:hidden;
    opacity:1;
}
#txtTweet{
    width:100%;
    height:136px;
    max-height:136px;
    padding:6px;
    outline:0;
    border-radius:6px;
}
.txtTweetCharAmount{
    margin-left:12px;
}
.rdbg-mood label{
    margin-bottom:12px;
    margin-top:8px;
}
.rdbg-mood label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 24px;
    margin-right: 24px;
    font-size: 16px;
}
.rdbg-mood label>i{
    font-size: 24px;
    line-height:24px;
    margin-left:12px;
}
.rdbg-mood label>i.fa-smile-o{
    color:rgba(187,204,0,1);
}
.rdbg-mood label>i.fa-meh-o{
    color:rgba(204,0,119,0.66);
}
.rdbg-mood input[type=radio] {
    display: none;
    text-indent:-999em;
}
.rdbg-mood label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    border-radius:12px;
}
.rdbg-mood input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 52px;
    text-align: center;
    line-height: 24px;
}
.rdbg-mood input[type=radio]:checked + label[for="mood-happy"]:before {
    color:rgba(187,204,0,1);
}
.rdbg-mood input[type=radio]:checked + label[for="mood-sad"]:before {
    color:rgba(204,0,119,0.66);
}

/*
List of tweets
*/
.tweets{
    background:#fff;
    border-radius:6px;
    border:1px solid rgba(169,169,169,1);
}
.tweets>.tweet{
    position:relative;
    border-bottom:1px solid rgba(169,169,169,1);
    padding:6px;
    min-height:62px;
}
.tweets>.tweet:last-of-type{
    border-bottom-width:0;
}
.tweets>.tweet>.tweet-content{
    margin:0 38px;
}
.tweets>.tweet>.tweet-mood{
    position:absolute;
    top:0;
    left:6px;
    font-size:32px;
}
.tweets>.tweet>.tweet-mood>i.fa-smile-o{
    color:rgba(187,204,0,1);
}
.tweets>.tweet>.tweet-mood>i.fa-meh-o{
    color:rgba(204,0,119,0.66);
}
.tweets>.tweet>.tweet-date{
    position:absolute;
    top:6px;
    right:6px;
    color:rgba(119,119,119,1);
}
.tweets>.tweet>.tweet-remove{
    position:absolute;
    bottom:-2px;
    right:6px;
    color:rgba(119,119,119,0.12);
    font-size:32px;
    cursor: pointer;
    cursor:hand;
}
.tweets>.tweet>.tweet-remove:hover{
    color:rgba(204,0,119,1);
}