* {
    box-sizing: border-box;
}
.wrapper {
    width:100%;
    margin:0;
    padding:0;
}
.container {
    max-width:1140px;/* Mobile First */
    width:252px;/* Smallest Resolution: MF, Extra Extra Extra Small */
    margin:0 auto;
    overflow: hidden;
    padding:0 12px;
}
.row {
    margin:0;
}
.row .row {
    margin:0 -12px;
}
.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.row:after {
    clear: both;
}
.col {
    float:left;
    margin:0 12px 24px;
    overflow: hidden;
}
.col-12{width:204px;}
.col-11{width:185px;}
.col-10{width:166px;}
.col-9{width:147px;}
.col-8{width:128px;}
.col-7{width:109px;}
.col-6{width:90px;}
.col-5{width:71px;}
.col-4{width:52px;}
.col-3{width:33px;}
.col-2{width:14px;}
.col-1{width:0;}
/*
Test Settings
*/
html {
    background:#333;
}
.col{
     background:#c0c0c0;
 }
.col .col{
    background:#a0a0a0;
}
.col .col .col{
    background:#808080;
}
.col .col .col .col{
    background:#606060;
}
/*
Desktop First
Breakpoints: 1200px, 992px, 768px, 480px, 320px
*/

/*
Extra Extra Extra Small devices: 320 and down
Default in Mobile First Approaches
*/

/*
Extra Extra Small Devices (phones 2th gen): 320 and up
*/
@media (min-width:320px){
    html {
        background:#ff0;
    }
    .container{width:312px;}
    .col-12{width:264px;}
    .col-11{width:240px;}
    .col-10{width:216px;}
    .col-9{width:192px;}
    .col-8{width:168px;}
    .col-7{width:144px;}
    .col-6{width:120px;}
    .col-5{width:96px;}
    .col-4{width:72px;}
    .col-3{width:48px;}
    .col-2{width:24px;}
    .col-1{width:0px;}

}
/*
Extra Small Devices (phones): 480 and up
*/
@media (min-width:480px){
    html {
        background:#00f;
    }
    .container{width:432px;}
    .col-12{width:384px;}
    .col-11{width:350px;}
    .col-10{width:316px;}
    .col-9{width:282px;}
    .col-8{width:248px;}
    .col-7{width:214px;}
    .col-6{width:180px;}
    .col-5{width:146px;}
    .col-4{width:112px;}
    .col-3{width:78px;}
    .col-2{width:44px;}
    .col-1{width:10px;}

}
/*
Small Devices (tablets): 768 and up
*/
@media (min-width:768px){
    html {
        background:#0f0;
    }
    .container{width:720px;}
    .col-12{width:672px;}
    .col-11{width:614px;}
    .col-10{width:556px;}
    .col-9{width:498px;}
    .col-8{width:440px;}
    .col-7{width:382px;}
    .col-6{width:324px;}
    .col-5{width:266px;}
    .col-4{width:208px;}
    .col-3{width:150px;}
    .col-2{width:92px;}
    .col-1{width:34px;}

}
/*
Medium Devices (small desktops and tablets): 992 and up
*/
@media (min-width:992px){
    html {
        background:#f00;
    }
    .container{width:936px;}
    .col-12{width:888px;}
    .col-11{width:812px;}
    .col-10{width:736px;}
    .col-9{width:660px;}
    .col-8{width:584px;}
    .col-7{width:508px;}
    .col-6{width:432px;}
    .col-5{width:356px;}
    .col-4{width:280px;}
    .col-3{width:204px;}
    .col-2{width:128px;}
    .col-1{width:52px;}
}
/*
Large Devices (Large desktops): 1200px and up
*/
@media (min-width:1200px){
    html {
        background:#f0f;
    }
    .container{width:1140px;}
    .col-12{width:1092px;}
    .col-11{width:999px;}
    .col-10{width:906px;}
    .col-9{width:813px;}
    .col-8{width:720px;}
    .col-7{width:627px;}
    .col-6{width:534px;}
    .col-5{width:441px;}
    .col-4{width:348px;}
    .col-3{width:255px;}
    .col-2{width:162px;}
    .col-1{width:69px;}
}
