* {
    box-sizing: border-box;
}
.wrapper {
    width:100%;
    margin:0;
    padding:0;
}
.container {
    max-width:1140px;/* Mobile First, RWD */
    margin:0 auto;
    overflow: hidden;
    padding:0 1.075269%;
}
.row {
    margin:0;
}
.row .row {
    margin:0 -1.075269%;
}
.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.row:after {
    clear: both;
}
.col {
    float:left;
    margin:0 1.075269% 2.150538%;
    overflow: hidden;
}
.col-12{width:97.84947%;}
.col-11{width:89.51613%;}
.col-10{width:81.1828%;}
.col-9{width:72.84947%;}
.col-8{width:64.51613%;}
.col-7{width:56.1828%;}
.col-6{width:47.84947%;}
.col-5{width:39.51613%;}
.col-4{width:31.1828%;}
.col-3{width:22.84947%;}
.col-2{width:14.51613%;}
.col-1{width:6.1828%;}

/*
Test Settings
*/
html {
    background:#333;
}
.col{
     background:#c0c0c0;
 }
.col .col{
    background:#a0a0a0;
}
.col .col .col{
    background:#808080;
}
.col .col .col .col{
    background:#606060;
}
/*
Desktop First
Breakpoints: 1200px, 992px, 768px, 480px, 320px
*/

/*
Large Displays: 1200 and up
Default in Desktop First Approaches
*/

/*
Medium Devices (small desktops and tablets): 992 and up
*/
@media (max-width:1199px){
    html {
        background:#f00;
    }
}
/*
Small Devices (tablets): 768 and up
*/
@media (max-width:991px){
    html {
        background:#0f0;
    }

}
/*
Extra Small Devices (phones): 480 and up
*/
@media (max-width:767px){
    html {
        background:#00f;
    }

}
/*
Extra Extra Small Devices (phones 2th gen): 320 and up
*/
@media (max-width:479px){
    html {
        background:#ff0;
    }
    #footer section:first-of-type,
    #footer section:last-of-type
    {
        width:97.84947%;
        text-align: center;
    }
}
/*
Extra Extra Small Devices (phones 1st gen): 319 and down
*/
@media (max-width:319px){
    html {
        background:#f0f;
    }

}
